<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Face Recognition App</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <main>
        <header>
            <div class="headMain">
                <div class="left">
                    <h1>Face Recognition</h1>
                </div>
                <div class="right">
                    <p>About</p>
                </div>
            </div>
        </header>
        <div class="inner-body">
  <h1>Welcome to Face Recognition App</h1>
  <a href="/register">Register New Student</a>
  <a href="/recognize">Recognize Face</a>
        </div>
        <!-- <footer>
            <p>Face Recognition System</p>
        </footer> -->
    </main>

</body>
</html>
